<!DOCTYPE html>
<html lang='en' ng-app='inventory'>
<head>
  <meta charset="utf-8">
  <title>Shopular with Angular!</title>
  <link href='/style.css' rel='stylesheet'>
  <style>
  /* select ALL tags that have the ng-cloak attribute (regardless of the value of that attribute) */
  [ng-cloak] {
      display: none;
  }
  input.ng-invalid.ng-touched {
      border: 1px solid #ff0000;
  }
  </style>
</head>
<body>
  <header>
    <h1>Shopular with Angular!</h1>
  </header>
  <main ng-controller='InventoryController as inventoryCtrl'>
    <form name='additem'
          ng-submit='additem.$valid && inventoryCtrl.addItem(inventoryCtrl.newItem)'
          novalidate>
      <input
        type='text'
        name='name'
        placeholder='Item name'
        required
        ng-model='inventoryCtrl.newItem.name'>
      <input
        type='number'
        name='price'
        min='0'
        step='.01'
        placeholder='Item price'
        required
        ng-model='inventoryCtrl.newItem.price'>
      <input
       type='number'
       name='quantity'
       min='0'
       placeholder='Quantity'
       required
       ng-model='inventoryCtrl.newItem.quantity'>
      <input
        type='text'
        name='color'
        placeholder='Color'
        required
        ng-model='inventoryCtrl.newItem.color'>
      <input
        type='number'
        name='discount'
        min='0'
        placeholder='Discount'
        ng-model='inventoryCtrl.newItem.discount'>
      <input
        type='submit' value='Add New Inventory'>
    </form>

    <table>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Color</th>
      </tr>
      <tr ng-repeat='inventory in inventoryCtrl.inventory'>
        <td>{{inventory.name}}</td>
        <td>{{inventoryCtrl.totalPrice(inventory)| currency: "$" : 2}}<img src='/images/sale_icon.png' ng-hide='inventory.discount !== 0'></td>
        <td>{{inventory.quantity}}</td>
        <td>{{inventory.color}}</td>
      </tr>
    </table>
  </main>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js'></script>
  <script src='/js/inventory.module.js'></script>
  <script src='/js/inventory.controller.js'></script>
  <footer>Assignment completed by Ryan Cronin</footer>
</body>
</html>
