<!DOCTYPE html>
<html lang='en' ng-app='inventory'>
<head>
  <meta charset="utf-8">
  <title>Shopular with Angular!</title>
  <link href='/style.css' rel='stylesheet'>
</head>
<body>
  <header>
    <h1>Shopular with Angular!</h1>
  </header>
  <main ng-controller='InventoryController as inventoryCtrl'>
    <form name='additem'
          ng-submit='additem.$valid && inventoryCtrl.addItem(inventoryCtrl.newItem)'
          novalidate>
      <input
        type='text'
        name='name'
        placeholder='Item name'
        required
        ng-model='inventoryCtrl.newItem.name'>
      <input
        type='number'
        name='price'
        min='0'
        step='.01'
        placeholder='Item price'
        required
        ng-model='inventoryCtrl.newItem.price'>
      <input
        type='number'
        name='quantity'
        min='0'
        placeholder='Quantity'
        required
        ng-model='inventoryCtrl.newItem.quantity'>
      <input
        type='text'
        name='color'
        placeholder='Color'
        required
        ng-model='inventoryCtrl.newItem.color'>
      <input
        type='number'
        name='discount'
        min='0'
        placeholder='Discount'
        required
        ng-model='inventoryCtrl.newItem.discount'>
      <input
        type='submit' value='Add New Inventory'>
      <p ng-cloak ng-show='additem.name.$touched && !additem.name.$valid'>
        You must add a name!
      </p>
      <p ng-cloak ng-show='additem.price.$touched && !additem.price.$valid'>
        You must add a price!
      </p>
      <p ng-cloak ng-show='additem.quantity.$touched && !additem.quantity.$valid'>
        You must add a quantity!
      </p>
      <p ng-cloak ng-show='additem.color.$touched && !additem.color.$valid'>
        You must specify a color!
      </p>
      <p ng-cloak ng-show='additem.discount.$touched && !additem.discount.$valid'>
        You must add a discount! If no discount available, add 0!
      </p>
    </form>
    <table>
      <thead>
        <tr>
          <th ng-click='inventoryCtrl.changeSort("name")'>Name</th>
          <th ng-click='inventoryCtrl.changeSort("price")'>Price</th>
          <th ng-click='inventoryCtrl.changeSort("quantity")'>Quantity</th>
          <th>Color</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-cloak ng-repeat='inventory in inventoryCtrl.inventory | orderBy:inventoryCtrl.sortType'>
          <td>{{inventory.name}}</td>
          <td>{{inventoryCtrl.totalPrice(inventory)| currency: "$" : 2}}<img src='/images/sale_icon.png' ng-show='inventory.discount > 0'></td>
          <td>{{inventory.quantity}}</td>
          <td>{{inventory.color}}</td>
        </tr>
      </tbody>
    </table>
  </main>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js'></script>
  <script src='/js/app.js'></script>

  <footer>Assignment completed by Ryan Cronin</footer>
</body>
</html>
